/* @import url('./lib/awesomecss/css/all.min.css'); */

body {
   font-family: 'Open Sans', sans-serif;
   font-size: 0.85em;
}
#dialog {
  font-size: 0.95em;
  margin:0;
  padding:0;
  overflow: hidden;
}
#dialog:hover {
  overflow: hidden;

}
#dialog textarea {
  height: 8em;
}

textarea {
   font-family: 'Open Sans', sans-serif;
   /* font-family: "Lucida Console", Courier, monospace; */
   font-size: 1.05em;
   
}

/* Style buttons */
.buttonload, .buttonConfirm, .buttonDeny {
   background-color: rgb(0, 141, 228);
   /* Green background */
   border: none;
   /* Remove borders */
   color: white;
   /* White text */
   padding: 10px 10px;
   /* Some padding */
   font-family: 'Open Sans', sans-serif;
   font-size: 0.88em;
   /* border-radius: 15px; */
   box-shadow: 0 0px #999;
}
.buttonConfirm {
  background-color: rgb(47, 143, 55);
  width: 90px;
  font-size: 1.0em;
}
.buttonDeny {
  background-color: rgb(155, 44, 44);
  width: 90px;
  font-size: 1.0em;
}

button:hover {background-color: rgb(0, 60, 97);}
 
 /* button::-moz-focus-inner {
  border: 0;
 } */

 /* fix for mozilla firefox dotted line around button text when focus */
 button:focus-within {
   border: 0;
 }

 button:active {
   background-color: rgb(0, 96, 156);
   /* background: rgb(76, 186, 255); */
   box-shadow: 0 0px #666;
   transform: translateY(2px);
   
 }

 button:disabled {
   background: rgb(76, 186, 255);
   color:  rgb(248, 248, 248);
 }

 a {
  text-decoration: none;
  color: rgb(0, 141, 228)
 }

 /* ##################Code for switch#################### */

 .switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* ##################Code for switch end#################### */

